# STM32CubeIDE metadata
.metadata/

# Build folders
Debug/
Release/
build/
cmake-build-*/

# Object files, binaries
*.o
*.d
*.elf
*.map
*.bin
*.hex
*.list
*.map
*.su

# Temporary
*.tmp

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Compile objects
*.a
*.so
